#container{
    display: flex;
    flex-direction:column;
    align-items: center;
}
#frase-procedimentos{
    font-size: 35px;
    color:#f1f1f1;
    text-align:center;
    margin-top:35px;
}
#box-procedimentos{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
}
#video{
    margin-top:220px;
    width:320px;
    height: 260px;
    align-items: center;
    border-radius: 8px;
    object-fit: cover;
}
.img-procedimentos{
    width:250px;
    height:220px;
    object-fit: cover;
    border-radius:8px;
    margin-top: 10px;

}
.nome-procedimento{
    font-size: 30px;
    color:#f1f1f1;
    margin-top:20px;
    margin-bottom:15px;
    font-weight: 700;
}
.opcoes-procedimento{
    font-size: 25px;
    color:#f1f1f19a; 
    margin-top: 15px;
}
.labio{
    margin-top: 40px;
}
.noBox{
    opacity: 0;
    transform: scale(0);
}
.box{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height:400px;
    background-color: #212121;
    border: #f1f1f11c solid 2px;
    border-radius:8px;
    margin-top: 20px;
    margin-bottom:20px;
    opacity: 1;
    transform: scale(1);
    transition: .9s ease-in-out;
}

    
    
    
